<p>
  <strong>Name:</strong>
  <%= @waifu.name %>
</p>

<p>
  <strong>Anime:</strong>
  <%= @waifu.anime %>
</p>

<p>
  <strong>Image:</strong>
  <%= @waifu.image %>
</p>

<%= image_tag @waifu.image %>

<br>

<h2>Ratings</h2>
<%= render @waifu.ratings %>

<h2>Add a rating:</h2>
<%= render 'ratings/form' %>


<br>



<%= link_to 'Edit', edit_waifu_path(@waifu) %> |
<%= link_to 'Back', waifus_path %>


